<style>
table, th, td {
  border: 1px solid black;
}
</style>

<h2>Daily Metrics</h2>
<select name="Select Markdown Plan" id="dailyMetricsMarkdownSelector">
    <option value="default">Select Markdown Plan</option>
</select>
<br />
<br />
<div id="ProductName"></div>
<div id="Description"></div>
<div id="startingInventory"></div>
<table id="dailyMetricsTable">
    <tr>
        <th>Day # of Plan</th>
        <th>Units Sold Today</th>
        <th>Margin</th>
        <th>Profit</th>
        <th>Remaining Inventory</th>
    </tr>
</table>